@model int
@{
    
    Layout = null;
}

<form asp-action="EditPassword" class="form-horizontal" method="post" style="">

    <div class="alert alert-warning " role="alert">
        <label class="text-body">شرایطی که رمز عبور در آن باید رعایت شود در این قسمت نوشته شود.</label>
    </div>


    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">رمز عبور جدید <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="password" required dir="ltr" name="password" class="form-control" value="" />
        </div>
    </div>

    <input type="hidden" name="UserId" value="@Model" />

    <button type="submit" class="btn btn-block btn-success ">ثبت</button>

</form>


