
@{
    ViewData["Title"] = "ChangeStep";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form asp-controller="Test" asp-action="ChangeStep">
    <input type="hidden" name="interViewModuleId" value="1"/>
    <input type="hidden" name="toStep" value="2"/>
    <input type="submit" value="mmmmm"/>
</form>

