
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Manage" method="post" style="border-top:1px solid #ccc;">


    <input type="hidden" name="RoutineId" value="100001" />

    ddfdfd
    <input type="submit" value="ارسال"/>

</form>
